<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fr.legrain.bdg">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:name=".BureauDeGestionApp"
        android:icon="@mipmap/ic_launcher_bdg"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_bdg"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">

        <service
            android:name=".MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.tiers.TiersActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.tiers.TiersDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.article.ArticleActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.article.ArticleDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.bonliv.BonlivActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.bonliv.BonlivDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.bonliv.BonlivFormActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.flash.FlashActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.flash.FlashDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.flash.FlashLocalDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.flash.scan.FlashFormActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ParamActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".lib.ecran.SmallCaptureActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar" />


        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_action_preferences" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>